<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="simple-file-table (fileList)">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" style="background-color: transparent; width:100%">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric" style="color: #3f51b5;text-align: center;"></th>
            <th style="color: #3f51b5;">Файл</th>
            <th style="color: #3f51b5;">Создан</th>
            <th style="color: #3f51b5;">Изменен</th>
            <th style="color: #3f51b5;">Размер</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${fileList}">
            <td onclick="selectByClick(this)" style="text-align: center;">
                <span class="material-symbols-outlined"
                      style="vertical-align: middle;color: white;font-size: 20px;font-weight: 600;"
                      th:if="${file.isCloud()}">cloud</span>
                <span class="material-symbols-outlined"
                      style="vertical-align: middle;color: white;font-size: 20px;font-weight: 600;"
                      th:if="${!file.isCloud()}">hard_drive_2</span>
            </td>
            <td class="mdl-data-table__cell--non-numeric" onclick="selectByClick(this)">
                <div class="list-file-data-table">
                    <span class="list-file-data-table-title" th:text="|${file.getFileName()}|"></span>
                    <span class="list-file-data-table-subtitle" th:text="|${file.getFilePath()}|"></span>
                </div>
            </td>
            <td class="list-file-data-table-subtitle" onclick="selectByClick(this)" th:text="|${file.getCreationDateTime()}|"></td>
            <td class="list-file-data-table-subtitle" onclick="selectByClick(this)" th:text="|${file.getModificationDateTime()}|"></td>
            <td class="list-file-data-table-subtitle" onclick="selectByClick(this)">12mb</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:fragment="file-time-data (isCloud, fileTime)">
        <div>
                                                <span class="material-symbols-outlined"
                                                      style="vertical-align: middle;color: white;font-size: 20px;font-weight: 600;"
                                                      th:if="${isCloud}">cloud</span>
            <span class="material-symbols-outlined"
                  style="vertical-align: middle;color: white;font-size: 20px;font-weight: 600;"
                  th:if="${!isCloud}">hard_drive_2</span>
            <span class="list-file-data-table-subtitle" th:text="|${fileTime}|"></span>
        </div>
</div>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
</body>
</html>