<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme"/>
    <link rel="stylesheet" th:href="@{/material_css/material.min.css}">
    <script th:src="@{/material_css/material.min.js}"></script>
    <link rel="stylesheet" th:href="@{/node_modules/material-symbols/index.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Projects</title>
</head>
<style>
    .mdl-list__item {
        color: #fff;
    }
    #new_project_button_container {
        margin-top: 25px;
    }
    #new_project_button {
        float: right;
    }
    .mdl-list__item-sub-title {
        color: darkgray;
    }
    .material-symbols-outlined {
        color: white;
        font-size: 20px;
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 200,
        'opsz' 40
    }
</style>
<script th:inline="javascript" type="text/javascript">
    function openProjectView(project_id) {
        var base_url = /*[[${urls.SHOW_PROJECT}]]*/""
        this.openUrl(base_url + "/" + project_id);
    }

    function deleteProject(project_id) {
        var base_url = /*[[${urls.DELETE_PROJECT}]]*/""
        this.openUrl(base_url + "/" + project_id);
    }

    function openNewProjectView() {
        var base_url = /*[[${urls.NEW_PROJECT}]]*/""
        this.openUrl(base_url);
    }
    function openUrl(url) {
        window.open(url, "_self");
    }
</script>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Проекты</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col-desktop"></div>
                <div class="mdl-cell mdl-cell--6-col">
                    <ul class="mdl-list" id="project-list">
                        <li class="mdl-list__item mdl-list__item--two-line" style="cursor: pointer;"
                            th:each="project : ${projects}" th:onclick="'openProjectView(' + ${project.getId()} + ')'">
                            <span class="mdl-list__item-primary-content">
                              <span><strong th:text="${project.getName()}"></strong></span>
                              <span class="mdl-list__item-sub-title" style="color: darkgray"
                                    th:text="|Файловая система: ${project.getLocalSource().getPath()}|"></span>
                              <span class="mdl-list__item-sub-title" style="color: darkgray"
                                    th:text="|Облачное хранилище: @${project.getCloudSource().getUserName()}|"></span>
                            </span>
                            <span class="mdl-list__item-secondary-action">
                                <button class="mdl-button mdl-js-button mdl-button--icon"
                                        th:onclick="'deleteProject(' + ${project.getId()} + ')'">
                                  <i class="material-symbols-outlined">delete</i>
                                </button>
                            </span>
                        </li>
                    </ul>
                    <div id="new_project_button_container">
                        <button class="mdl-button mdl-js-button mdl-button--primary" id="new_project_button"
                                th:attr="onclick=|openNewProjectView()|"
                                >+ Добавить Проект</button>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col-desktop"></div>
            </div>
        </div>
    </main>
</div>
</body>
</html>