<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
<!--    <link rel="stylesheet" th:href="@{/css/pico.min.css}">-->
    <link rel="stylesheet" th:href="@{/material.min.css}">
    <script th:src="@{/material.min.js}" ></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Hello world!</title>
</head>
<script th:inline="javascript" type="text/javascript">
    function loadProject( project_id ) {
        var url = /*[[${urls.SHOW_PROJECT}]]*/""
        window.open(url + "/" + project_id, "_self");
    }
</script>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
            <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
            <a href="#scroll-tab-4" class="mdl-layout__tab">Tab 4</a>
            <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
            <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-4">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-5">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-6">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
    </main>
</div>
<main class="container">
    <nav>
        <ul>
            <li><a href="#">Project</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </nav>
    <label for="project-list">Активные проекты:</label>
    <ul id="project-list" >
        <li  class="grid"
             th:data-name="@{|${urls.SHOW_PROJECT}/${project.getId()}|}"
             th:each="project : ${projects}"
             th:onclick="'loadProject(' + ${project.getId()} + ')'">
            <p th:text="${project.getName()}"></p>
            <p th:text="${project.getLocalSource().getPath()}"></p>
            <div></div>
        </li>
    </ul>
</main>
</body>
</html>