<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme"/>
    <link rel="stylesheet" th:href="@{/material_css/material.min.css}">
    <script th:src="@{/material_css/material.min.js}"></script>
    <link rel="stylesheet" th:href="@{/node_modules/material-symbols/index.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>New Project</title>
</head>
<style>
    .outline {
        --pico-border-width: 0;
        width: fit-content;
    }

    .mdl-textfield {
        width: 100%;
    }
    .mdl-textfield__error {
        visibility:visible;
    }
    .mdl-textfield__input{
        background-color: #212121;
        color: white;
    }
    .mdl-textfield__label, .cloud-source-list{
        color: white;
    }

    .cloud-source-list {
        padding-left: 15px;
    }

    .submit-button-group {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
    }

    .cloud-source-list__item {
        font-size: 16px;
        color: white;
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        vertical-align: middle;
    }

    #cloud-source-group {
        margin-bottom: 0;
    }

    .error-list {
        list-style-type: circle;
    }
</style>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Новый проект</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" th:href="@{|/|}">Home</a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col"></div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <form name="newProjectForm" onsubmit="return onSubmit()" action="#" th:action="@{/project/register}" method="post" th:object="${newProjectSession}">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input"
                                       type="text"
                                       id="project-name"
                                       th:field="*{projectName}">
                                <label class="mdl-textfield__label" for="project-name">Имя Вашего Проекта</label>
                            </div>
                            <ul class="error-list">
                                <li th:each="err : ${#fields.errors('projectName')}">
                                    <span class="mdl-textfield__error" th:text="${err}"></span>
                                </li>
                            </ul>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input"
                                       type="text"
                                       id="local-path-input"
                                       th:field="*{localPath}">
                                <label class="mdl-textfield__label" for="local-path-input">Путь из файловой системы</label>
                            </div>
                            <ul class="error-list">
                                <li th:each="err : ${#fields.errors('localPath')}">
                                    <span class="mdl-textfield__error" th:text="${err}"></span>
                                </li>

                            </ul>
                            <fieldset id="cloud-source-group">
                                <button class="mdl-button mdl-js-button mdl-button--primary" th:formaction="@{/oauth2/redirect/yandex}">Подключить Яндекс Диск </button>
                            </fieldset>
                            <ul class="cloud-source-list">
                                <li  class="cloud-source-list__item" th:each="keepSource : ${newProjectSession.getKeepSourceList()}">
                                    <span th:text="|Аккаунт: ${keepSource.getUserName()}|"></span>
                                    <button class="mdl-button mdl-js-button mdl-button--icon"
                                            th:formaction="@{|${urls.DELETE_SOURCE_FROM_NEW_PROJECT}/${keepSource.getUserName()}|}">
                                        <i class="material-symbols-outlined">delete</i>
                                    </button>

                                </li>
                            </ul>
                            <ul class="error-list">
                                <li th:each="err : ${#fields.errors('keepSourceList')}">
                                    <span class="mdl-textfield__error" th:text="${err}"></span>
                                </li>
                                <li th:each="err : ${#fields.globalErrors()}">
                                    <span class="mdl-textfield__error" th:text="${err}"></span>
                                </li>
                            </ul>
                            <fieldset class="submit-button-group" id="form-button-fieldset">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Создать</button>
                                <button class="mdl-button mdl-js-button" style="color: white">Отмена</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col"></div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>